@inject FifthAssignment.Presentation.WebApp.Middelware.IUserVerification userVerification;
@using FifthAssignment.Core.Application.Dtos.AccountDtos
@using FifthAssignment.Core.Application.Utils.SessionHandler
@inject IHttpContextAccessor httpContext;
@{
	var User = httpContext.HttpContext.Session.Get<AuthenticationResponse>("user");
}

<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<title>@ViewData["Title"] - FifthAssignment</title>
	<link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
	<link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
	<link rel="stylesheet" href="~/FifthAssignment.styles.css" asp-append-version="true" />
</head>
<body>
	<header>
		<nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
			<div class="container-fluid">
				@if (!userVerification.IsLogIn())
				{
					<a class="navbar-brand" asp-area="" asp-controller="Account" asp-action="LogIn">FifthAssignment</a>

				}
				@if (userVerification.IsLogIn())
				{
					@if (userVerification.UserRoleIsAdminVerification())
					{
						<a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="AdminHomePage">FifthAssignment</a>

					}
					@if (!userVerification.UserRoleIsAdminVerification())
					{
						<a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="ClientHomePage">FifthAssignment</a>

					}

				}
				<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
						aria-expanded="false" aria-label="Toggle navigation">
					<span class="navbar-toggler-icon"></span>
				</button>
				<div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
					<ul class="navbar-nav flex-grow-1">
						@if (userVerification.IsLogIn())
						{
							@if (userVerification.UserRoleIsAdminVerification() == true)
							{
								<li class="nav-item">
									<a class="nav-link text-dark" asp-area="" asp-controller="User" asp-action="Index">User Manteinece</a>
								</li>
								<li class="nav-item">
									<a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Privacy">Products</a>
								</li>
							}
							@if (userVerification.UserRoleIsAdminVerification() == false)
							{
								<li class="nav-item">
									<a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Privacy">Payments</a>
								</li>
								<li class="nav-item">
									<a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Privacy">Beneficiaries</a>
								</li>
								<li class="nav-item">
									<a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Privacy">Money Advance</a>
								</li>
								<li class="nav-item">
									<a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Privacy">Transfer money</a>
								</li>
							}
						}
					</ul>
				</div>
			</div>
		</nav>
	</header>
	<div class="container">
		<main role="main" class="pb-3">
			@RenderBody()
		</main>
	</div>

	<footer class="border-top footer text-muted">
		<div class="container">
			&copy; 2024 - FifthAssignment - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
		</div>
	</footer>
	<script src="~/lib/jquery/dist/jquery.min.js"></script>
	<script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
	<script src="~/js/site.js" asp-append-version="true"></script>
	@await RenderSectionAsync("Scripts", required: false)
</body>
</html>
