@model FifthAssignment.Core.Application.Models.BankAccountsModels.BankAccountModel
<div>
    <form method="post" asp-controller="Beneficiary" asp-action="CreateBeneficiary">

        <input type="hidden" name="UserBeneficiaryBankAccountId" value="@Model.Id" />
        <h1>Are you sure you want to add this bank account as your beneficiary?</h1>
        <button type="submit" class="btn btn-primary float-end p-2">Delete</button>
        <a href="@Url.Action("Index", "Beneficiary")" class="btn btn-outline-warning float-end p-2 mx-2">Go Back</a>
    </form>
</div>