
<div class="container">
    <div class="row">
        <div class="col-md-8 offset-md-2">
            <div class="card mt-5">
                <div class="card-body">
                    <h2 class="card-title text-center">Unactivated Account</h2>
                    <p class="card-text text-center">Your account is currently not activated.</p>
                    <p class="card-text text-center">Please wait until an admin makes it activate.</p>
                </div>
            </div>
        </div>
    </div>
</div>