@model FifthAssignment.Core.Application.Core.SaveBasePaymentDto;

@{
    ViewData["Title"] = "Validate Transaction";
}

@if (ViewBag.MessageError is not null)
{
    <p class="alert alert-danger d-block text-center">@ViewBag.MessageError</p>
}
@if (ViewBag.MessageSuccess is not null)
{
    <p class="alert alert-success d-block text-center" role="alert">@ViewBag.MessageSuccess</p>
}

<div class="container d-flex justify-content-center align-items-center" style="min-height: 80vh;">
    <div class="row justify-content-center">
        <div class="col-md-12 col-lg-10">
            <div class="card shadow-lg">
                <div class="card-body p-8">
                    <h2 class="text-center mb-4">Validate @ViewBag.Name</h2>
                    <form asp-action="ValidateTransaction" asp-controller="Transaction" method="post">
                        <input type="hidden" name="TransactionType" value="@Model.TransactionType" />

                        <div class="form-group mb-1 p-2">
                            <label asp-for="Emisor" class="form-label">Source </label>
                            <select asp-for="Emisor" class="form-control" asp-items="ViewBag.Emisor" name="Emisor">
                                <option value="">Select from where to make the transaction</option>
                            </select>
                            <span asp-validation-for="Emisor" class="text-danger"></span>
                        </div>

                        <div class="form-group mb-1 p-2">
                            <label for="numberIdentifier" class="form-label">Destination</label>
                            <input type="text" Name="numberIdentifier" class="form-control" /> 
                         
                        </div>

                        <div class="form-group mb-2 p-2">
                            <label asp-for="Amount" class="form-label">Amount</label>
                            <input asp-for="Amount" class="form-control form-control-lg" />
                            <span asp-validation-for="Amount" class="text-danger"></span>
                        </div>

                        <div class="form-group text-center">
                            <button type="submit" class="btn btn-primary btn-lg">Validate Transaction</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>